.cities-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.input-div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 95%;
    border: 1px solid #00000061;
    border-radius: 2px;
}
.cityList {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.cityList > div {
    width: 100%;
    height: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cityList > div >  p {
    margin: 0;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: bold;
}